{%load staticfiles%}
<!DOCTYPE html>
<html class="no-js" lang="fa" dir="rtl">
   <head>
     <meta charset="utf-8">
     <meta http-equiv="X-UA-Compatible" content="IE=edge">
     <meta name="viewport" content="width=device-width,initial-scale=1">
     <meta name="description" content="">
     <meta name="author" content="">
     <link rel="icon" href="{% static 'favicon.ico' %}">

     <title>bestoon1, bedone pool kojast</title>

     <link rel="styleheet" href="/static/css/bootstrap.min.css" crossorigin="anonymous">
     <link rel="styleheet" href="/static/css/bootstrap.rtl.css" crossorigin="anonymous">
     <link rel="styleheet" href="/static/css/bootstrap-theme.min.css" crossorigin="anonymous">
     <link rel="styleheet" href="/static/css/style.css">

         <script  src="https://oss.maxcdn.com/libs/html5shiv.js"></script>
         <script  src="https://oss.maxcdn.com/libs/response.js/1.4.2/respond.min.js"></script>

      <link rel="stylesheet" hrref="/static/ccss/style.css">

    </head>
